  <div id="rentModal" class="modal">
    <div>
      <h3>Rent Out the Selected Item:</h3>
      <div class="divider">
      <h4></h4>
      <br>
        <div>
          <img src="{{picture-link}}">
        </div>
      </div>
    </div>
    <div class="modal-footer" id="rentModalFooter">
      <button class="submit">Rent</button>
    </div>
  </div>