<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Rent-All</title>
	<link rel="stylesheet" type="text/css" href="assets/css/reset.css">
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script> src = "/assets/js/accounts.js"</script>
	<script> src = "/assets/js/add-items.js"</script>
	<script> src = "/assets/js/home.js"</script>
	<script> src = "/assets/js/list-items.js"</script>
	<script> src = "/assets/js/query.js"</script>
	<script> src = "/assets/js/transaction.js"</script>
	<script src="https://code.jquery.com/jquery.js"></script>


</head>
<body>
	{{{ body }}}
</body>
</html>
