<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="assets/css/style.css">

	<link rel="stylesheet" href="./assets/images" type="text/css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script> src = "/assets/js/accounts.js"</script>
	<script> src = "/assets/js/add-items.js"</script>
	<script> src = "/assets/js/home.js"</script>
	<script> src = "/assets/js/list-items.js"</script>
	<script> src = "/assets/js/query.js"</script>
	<script> src = "/assets/js/transaction.js"</script>
	<script src="https://code.jquery.com/jquery.js"></script>



	<title>Rent-All</title>

</head>

<body>
	{{{ body }}}



	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	 crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
	 crossorigin="anonymous"></script>
</body>


	<script src="/assets/js/accounts.js"></script>
	<script src="/assets/js/add-items.js"></script>
	<script src="/assets/js/home.js"></script>
	<script src="/assets/js/list-items.js"></script>
	<script src="/assets/js/query.js"></script>
	<script src="/assets/js/transaction.js"></script>

</html>