<header>
  <h1>Add an item to share</h1>
</header>



{{!-- name varchar(60) NOT NULL, 
-- 	description varchar(255) NOT NULL,
-- 	price decimal(8,2) DEFAULT NULL,
-- 	start_date datetime NOT NULL,
-- 	end_date datetime NOT NULL,
-- 	picture_link varchar(255) NOT NULL, --}}




<form >
  <div class="form-row">
    <div class="form-group col-md-6">

      <label for="inputItemName"</label>
      <input type="text" class="form-control" id="inputItemName" name="input_name" placeholder="Name">
    </div>
    <div class="form-group col-md-6">
      <label for="inputDescription">Description</label>
      <input type="text" class="form-control" id="inputDescription" name="input_description" placeholder="Description">

    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">

      <label for="inputStart">Start Date</label>
      <input type="date" class="form-control" id="inputStart" name="input_start" placeholder="Start Date">
    </div>
    <div class="form-group col-md-6">
      <label for="inputEnd">End Date</label>
      <input type="date" class="form-control" id="inputEnd" name="input_end" placeholder="End Date">

    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">

      <label for="inputPrice">Price</label>
      <input type="text" class="form-control" id="inputPrice" name="input_price" placeholder="Price">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPhoto">Link to Photo</label>
      <input type="text" class="form-control" id="inputPhoto" name="input_photo" placeholder="Photo">

    </div>
  </div>

   <div class="form-row">
    <div class="form-group col-md-6">

      <label for="inputAccount">Account</label>
      <input type="text" class="form-control" id="inputAccount" name="input_account" placeholder="Account">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword">Password Photo</label>
      <input type="password" class="form-control" id="inputPassword" name="input_password" placeholder="Password">

    </div>
  </div>
    
   
    

  <button type="submit" id="add-item" class="btn btn-primary">SHARE</button>

</form>
