<header>
  <h1>Add an item to share</h1>
</header>
<body>


{{!-- name varchar(60) NOT NULL, 
-- 	description varchar(255) NOT NULL,
-- 	price decimal(8,2) DEFAULT NULL,
-- 	start_date datetime NOT NULL,
-- 	end_date datetime NOT NULL,
-- 	picture_link varchar(255) NOT NULL, --}}



<form>
  <div class="form-row">
    <div class="form-group col-md-6">

      <label for="inputItemName"</label>
      <input type="text" class="form-control" id="inputItemName" placeholder="Name">
    </div>
    <div class="form-group col-md-6">
      <label for="inputDescription">Description</label>
      <input type="password" class="form-control" id="inputDescription" placeholder="Description">

    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">

      <label for="inputStart">Start Date</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="Start Date">
    </div>
    <div class="form-group col-md-6">
      <label for="inputEnd">End Date</label>
      <input type="text" class="form-control" id="inputEnd" placeholder="End Date">

    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">

      <label for="inputPrice">Price</label>
      <input type="text" class="form-control" id="inputPrice" placeholder="Price">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Link to Photo</label>
      <input type="image" class="form-control" id="inputPhoto" placeholder="Photo">

    </div>
  </div>
    
   
    

  <button type="submit" id="add-item" class="btn btn-primary">SHARE</button>

</form>

