{{> Navigation/nav-block search=false post=true account=false signup=false}}

<div class="container">

  <header class="text-center header-wrap" align="center">
    <h1>Add an item to share</h1>
  </header>


  <div class="row justify-content-center">
    <form class="col-md-6 mx-0">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label class="" for="inputItemName">Item Name </label>
          <input type="text" class="form-control" id="inputItemName" name="input_name" placeholder="Name">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label id="photoLabel" class="" for="inputPhoto">Link to Photo</label>
          <input type="text" class="form-control" id="inputPhoto" name="input_photo" placeholder="Photo.png">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputPrice">Price</label>
          <input type="text" class="form-control" id="inputPrice" name="input_price" placeholder="Price">
        </div>

        <div class="form-group col-md-4">
          <label for="inputStart">Start Date</label>
          <input type="date" class="form-control" id="inputStart" name="input_start" placeholder="Start Date">
        </div>

        <div class="form-group col-md-4">
          <label for="inputEnd">End Date</label>
          <input type="date" class="form-control" id="inputEnd" name="input_end" placeholder="End Date">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputDescription">Description</label>
          <textarea type="text" class="form-control" id="inputDescription" name="input_description" placeholder="Description" rows="3"></textarea>
        </div>
      </div>

  

      <button type="submit" id="add-item" class="btn btn-primary">SHARE</button>

    </form>
  </div>
</div>