<header>
  <h1>Add an item to share</h1>
</header>
<body>


{{!-- name varchar(60) NOT NULL, 
-- 	description varchar(255) NOT NULL,
-- 	price decimal(8,2) DEFAULT NULL,
-- 	start_date datetime NOT NULL,
-- 	end_date datetime NOT NULL,
-- 	picture_link varchar(255) NOT NULL, --}}



<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Name</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Name">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Description</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Description">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Start Date</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Starrt Date">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">End Date</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="End Date">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Price</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Price">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Link to Photo</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Photo">
    </div>
  </div>
    
   
    
 
  <button type="submit" class="btn btn-primary">SHARE</button>
</form>

