

<div id="main-container" class="container">
  <section class="main-section">
  <h1>Rent-All</h1>
  <img src="images/ladiesbike.jpg" class="auth-image" alt="Bicycles">

  <class="button-size">
	  <button type="submit">Search for Item</button>

  <class="button-size">
 	  <button type="submit">List Item</button>

  <class="button-size">
		<button type="submit">Add Item</button>
