<div id="main-container" class="container">
    {{!-- <div class="jumbotron">
        <h1>Rent-All</h1>
    </div>
    
     <section class="main-section"> --}}
   


<h1>Rent-All</h1>

<button type="submit" id= "search-item" class="btn">Search For Item</button>
<button type="submit" id= "post-item" class="btn">Post an Item</button>
<button type="submit" id= "sign-up" class="btn">Sign Up for an account!</button>

</div>