<div id="main-container" class="container">
    {{!-- <div class="jumbotron">
        <h1>Rent-All</h1>
    </div>
    
     <section class="main-section"> --}}
   


<h1>Rent-All</h1>

<button type="submit" id= "search-item" class="btn">Search For Item</button>
<button type="submit" id= "list-item" class="btn">List For Item</button>
<button type="submit" id= "add-item" class="btn">Add Item</button>

</div>