<div id="main-container" class="container">
<div class="jumbotron text-center">
    <h1 class="display-4">Rent-All</h1>
    <p class="lead">Welcome to our rental page that will have anything and everything you need.</p>
    <hr class="my-4">
    <p>Start your search or post an item for rent.</p>
    <div>
        <button type="submit" id="sign-up" class="btn">Sign Up!</button>
        <button type="submit" id="sign-in-modal" class="btn">Sign In!</button>
        <button type="submit" id="search-item" class="btn">Search For Item</button>
        <button type="submit" id="post-item" class="btn">Post an Item</button>
    </div>
</div>

    
</div>

{{> Modal/signin-block}}