<div id="main-container" class="container">
    {{!-- <div class="jumbotron">
        <h1>Rent-All</h1>
    </div>
    {{!--
    <section class="main-section"> --}}
        
        <img src="images/ladiesbike.jpg" class="auth-image" alt="Bicycles">


        <button type="submit" class="btn">Search for Item</button>

        <button type="submit" class="btn">List Item</button>

        <button type="submit" class="btn">Add Item</button> --}}

<h1>hello world</h1>
</div>