<h1>Rent Everything</h1>

<h2>Available Items for Rent:</h2>

{{#each items}}
{{#if available}}
    {{> Query/query-block}}
{{/if}}
{{/each}}

<h2>Unavailable (Currently Rented Out by Others):</h2>

{{#each items}}
{{#unless available}}
    {{> Query/query-block}}
{{/unless}}
{{/each}}

{{!-- $(".rent-btn").on("click", function(){ --}}
    {{!-- var itemID = $(this).attr("data-id"); --}}

{{!-- }); --}}

{{!-- 
<header>
  <h2>Search for items:</h2>
</header>

<form class="create-form">

  <div class="form-group">
    <label for="forrent"> Item Name:</label>
    <input type="text" id="forrent" name="name">
  </div>

  <button type="submit">Search for items</button>
</form> --}}