<h1>Transactions Center</h1>

{{#each transactions}}
    {{> Transaction/transactions-block}}
{{/each}}


{{!-- <header>
  <h2>Search for transactions:</h2>
</header>

<form class="create-form">

  <div class="form-group">
    <label for="forrent"> Item Name:</label>
    <input type="text" id="forrent" name="name">
  </div>

  <div class="form-group">
    <label for="rentedout">Account ID:</label><br>
    <input type="text" id="forrent" name="name">
  </div>

  <button type="submit">Search for transaction</button>
</form> --}}