body {
    
    background-image:url("/assets/images/ladiesbike.jpg");
    color: white;
}

h1 {
    text-align:center;
    color: white;

}

.btn {

    position:relative/absolute;
    left:50%;
    color:black;
    
}