body {
    
    background-image:url("/assets/images/ladiesbike.jpg");
    color: white;
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0.274);
    color:white;
}

.modal {
    color: black;
}

.btn {

    position:relative/absolute;
    left:50%;
    color:black;
    
}

