body {
    
    background:url("/assets/images/ladiesbike.jpg") no-repeat center fixed;
    color: white;
    background-size: cover;
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0.274);
    color:white;
}

.modal {
    color: black;
}

.btn {

    position:relative/absolute;
    left:50%;
    color:black;
}

.itemsRent{
    width: 23rem;
    background:lightblue; 
    opacity:0.7; 
    display:flex;
    justify-content:center;
    align-items:center;
}

#rentModal{
    background-color:black;
    opacity:0.6;
    border-color: black;
    text-align: center;
    color: white;
   

}

#rentModalFooter{
    background-color:orange;
    border-color: orange; 
    color: black;
}

#account-form, .header-wrap {
    background: rgba(0,0,0,.7);
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0;
}

#create-form, .create-acct-wrap {
    background: rgba(0,0,0,.7);
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0;
}
